<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @news.description %>
</p>
 
<h2>Comments</h2>
<%= render @news.comments %>
 
<h2>Add a comment:</h2>
<%= form_for([@news, @news.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>




   
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_path %>